<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogin</servlet-name>
        <servlet-class>adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>secretkey_generation</servlet-name>
        <servlet-class>secretkey_generation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ownerlogin</servlet-name>
        <servlet-class>ownerlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consumerlogin</servlet-name>
        <servlet-class>consumerlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filerequestdetail</servlet-name>
        <servlet-class>filerequestdetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatestatus</servlet-name>
        <servlet-class>updatestatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filedownload</servlet-name>
        <servlet-class>filedownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modify_data</servlet-name>
        <servlet-class>modify_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>auditorlogin</servlet-name>
        <servlet-class>auditorlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsumerDataShared</servlet-name>
        <servlet-class>ConsumerDataShared</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>download_consumerfile</servlet-name>
        <servlet-class>download_consumerfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifyconsumer_data</servlet-name>
        <servlet-class>modifyconsumer_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AudioFileUpload</servlet-name>
        <servlet-class>AudioFileUpload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogin</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>secretkey_generation</servlet-name>
        <url-pattern>/secretkey_generation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ownerlogin</servlet-name>
        <url-pattern>/ownerlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consumerlogin</servlet-name>
        <url-pattern>/consumerlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filerequestdetail</servlet-name>
        <url-pattern>/filerequestdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatestatus</servlet-name>
        <url-pattern>/updatestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filedownload</servlet-name>
        <url-pattern>/filedownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modify_data</servlet-name>
        <url-pattern>/modify_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auditorlogin</servlet-name>
        <url-pattern>/auditorlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsumerDataShared</servlet-name>
        <url-pattern>/ConsumerDataShared</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>download_consumerfile</servlet-name>
        <url-pattern>/download_consumerfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifyconsumer_data</servlet-name>
        <url-pattern>/modifyconsumer_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AudioFileUpload</servlet-name>
        <url-pattern>/AudioFileUpload</url-pattern>
    </servlet-mapping>
         <servlet>
        <servlet-name>FileUpload1</servlet-name>
        <servlet-class>FileUpload1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload2</servlet-name>
        <servlet-class>FileUpload2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mix</servlet-name>
        <servlet-class>mix</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUpload1</servlet-name>
        <url-pattern>/FileUpload1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload2</servlet-name>
        <url-pattern>/FileUpload2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mix</servlet-name>
        <url-pattern>/mix</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
